.testText {
    color:lightblue; 
    font-size:300%;
}
.ak-instruction-image {
    width:100px;
    height:100px;
    background-color: black;
}
.ak-instruction-text {
    color:lightblue; 
    font-size:100%;
}