.testText {
    color:lightblue; 
    font-size:300%;
}
.ak-instruction-image {
    width:100px;
    height:100px;
    background-color: black;
}
.ak-instruction-text {
    color:lightblue; 
    font-size:100%;
}
.ak-mapping-autocomplete-suggestion {
    border: 1 solid "red";
    padding: 10px;
    margin: 10px;
}